
.content-board{
  width: 4.4rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.board-item  {
  font-size: 1rem;
  border: 1px solid darken($off-white, 50%);
  background: white;
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

//blank
.board-item-0 {
  font-size: 1rem;
  background: white;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: darken(white, 20%);
  }
}

//ship Human player
.board-item-1 {
  font-size: 1rem;
  background: grey;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

//ship cpu
.board-item-2 {
  font-size: 1rem;
  background: white;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

//hit water
.board-item-3 {
  font-size: 1rem;
  background: lightblue;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
//ship hit
.board-item-4 {
  font-size: 1rem;
  background: red;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

//ship destroyed
.board-item-5 {
  font-size: 1rem;
  background: orange;
  border: 1px solid darken($off-white, 50%);
  color: $dark-grey; 
  width: 0.2rem;
  max-height: 0.2rem; 
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borde{
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}




